.adminPanel {
    min-width: 300px;
    min-height: 20%;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    margin-top: 30vh;
    margin-left:20px;
    z-index: 1;
    background-color: #2F4050;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
}


.adminPanel .addNewItem {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 20px;
    align-items: center;
}

.adminPanel .addNewItem div {
    margin: 5px;
}

.addNewItem .newItemBtn {
    width: 200px;
    height: 50px;
}

.adminPanel button {
    box-sizing: border-box;
    text-align: center;
    min-width: 40%;
    height: 35px;
    background: #41596e;
    border-radius: 999px;
    box-shadow: #58738b 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-top: 20px;
    padding: 8px 12px;
}

.auctionActions .btnDisabled,
.adminPanel .btnDisabled {
    background-color: grey;
    cursor: default;
}

.adminPanel .auctionActions {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.adminPanel button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}


h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2 small {
    font-weight: normal;
    color: #888;
    display: block;
}

.group {
    position: relative;
}

.addNewItem .groupWrapper {
    display: flex;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 150px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: rgb(25, 211, 149);
}

.bar {
    position: relative;
    display: block;
    width: 150px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgb(25, 211, 149);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

