.tilesWrap {
    padding: 0;
    margin: auto;
    list-style: none;
    text-align: center;
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap;
}

.tilesWrap li {
    width: 20%;
    padding: 80px 20px 40px;
    position: relative;
    margin: 10px;
    font-family: 'helvetica', san-serif;
    background: #262a2b;
    border: 1px solid #252727;
    text-align: left;
    display: flex;
    flex-direction: row;    
}

.tilesWrap li h2 {
    font-size: 40px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 50px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}

.tilesWrap li h3 {
    font-size: 20px;
    color: #b7b7b7;
    margin-bottom: 5px;
}

.tilesWrap li p {
    font-size: 16px;
    line-height: 18px;
    color: #b7b7b7;
    margin-top: 5px;
}

.tilesWrap li:hover h2 {
    top: 0px;
    opacity: 0.6;
}

.tilesWrap li:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}

.tilesWrap li:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:before {
    background: #f2709c;
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c);
}
