.accounts {
    min-width: 300px;
    min-height: 12%;
    border-radius: 20px;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    background-color: #2F4050;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.accounts .accList {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    
}

.accounts .accList .accRow {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accounts .accList .accRow:hover {
    cursor: pointer;
    background-color: #293846;
}

.activeAccSign {
    width: 80%;
    height: 2px;
    background-color: rgb(25, 211, 149);
}

.accList .newAcc {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 35px;
    background: #41596e;
    border-radius: 999px;
    box-shadow: #58738b 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-top: 20px;
    padding: 8px 12px;
}

.accList .newAcc:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
