@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');

.auctions {
    display: flex;
    list-style: none;
    flex-flow: wrap;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    align-content: flex-start;
}

.auctions>li {
    width: 35%;
    max-height: 40%;
    border: 3px solid #48617a;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 20px;
    border-radius: 60px;
    margin-left: 20px;
    padding: 10px;
}

.auctions li .itemEl {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li button {
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 7px;
    border-radius: 999px;
    box-shadow: #2f2f72 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

li button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.winnerHelper {
    width: 20%;
    height: 20px;
    border-bottom: 1px solid;
}


.auctions li .titleLine {
    min-width: 80%;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}


.con-tooltip {
    position: relative;
    border-radius: 9px;
    padding: 0 20px;
    margin: 10px;

    display: inline-block;

    cursor: default;
}

.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;

    width: 86%;
    padding: 0px 20px;

    background: #333;
    color: #ff9472;

    position: absolute;

    border-radius: 9px;
    font: 16px;

    transform: translateY(9px);
    transition: all 0.3s ease-in-out;

    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


.tooltip::after {
    content: " ";
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #333 transparent transparent transparent;

    position: absolute;
    left: 40%;

}

.con-tooltip:hover .tooltip {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite alternate;
}


.right:hover {
    transform: translateX(6px);
}


.right .tooltip {
    top: -20%;
    left: 115%;
}

.right .tooltip::after {
    top: 20%;
    left: -12%;
    transform: rotate(90deg);
}

.auctions .text {
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}